.title {
  text-align: center;
  display: block;
  margin: 40vh 10rem 30vh;
  @include text-style(14, 900);
}
.dev {
  @include text-style(14, 900, #d6d6d6);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-50px);
  display: block;
  margin: 0;
  text-transform: uppercase;
}

.dev.visible {
  opacity: 1;
  transform: translateY(0);
}

.title__name {
  @include text-style(6.4, 600);
  top: 30rem;

  > span {
    @include text-style(6.4, 400);
  }
}
